[submodule "tech-chalenge/I-II"]
	path = tech-chalenge/I-II
	url = https://github.com/fsales/fiap-tech-chalenge.git
[submodule "aula/mongodb"]
	path = aula/mongodb
	url = https://github.com/fsales/fiap-mongodb.git
[submodule "aula/qa"]
	path = aula/qa
	url = https://github.com/fsales/fiap-qa.git
[submodule "tech-chalenge/III"]
	path = tech-chalenge/III
	url = https://github.com/fsales/fiap-tech-chalenge-fase3.git
